extends layout

block content
  fieldset
    legend 사용자 등록
    form(action='/join' method='post')
      div: input(name='email' placeholder='E-Mail')
      div: input(name='inAppName' placeholder='채팅시 사용할 이름')
      div: input(name='password' placeholder='비밀번호')
      div: input(name='password2' placeholder='비밀번호를 재 입력해주세요')
      div: button(type='submit') 등록
  .error-message= error